{% extends "base.html.twig"%}
{% block body%}
    <div>
             PFE title : {{ pfe.title }}
            PFE name : {{ pfe.name }}
            PFE Entreprise: {{ pfe.entreprise }}
    </div>
{% endblock%}
